/* src/components/Footer.css */
.footer {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  color: #555;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 2.5rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-link {
  margin: 0 15px;
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.footer-link:hover {
  color: #000;
}

.footer-social {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icon {
  margin: 0 10px;
  font-size: 20px;
  color: #555;
}

.social-icon:hover {
  color: #000;
}

.footer-social .fab {
  cursor: pointer;
}

.footer-copyright {
  font-size: 14px;
}
