/* src/styles/Listings.css */

.listings-container {
  padding: 20px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.header-text .title {
  font-size: 2rem;
  font-weight: bold;
  color: #0d161b;
}

.add-property-button button {
  background-color: #209cee;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.add-property-button button:hover {
  background-color: #0056b3;
}

.tabs-section {
  padding-bottom: 20px;
}

.tabs {
  display: flex;
  gap: 20px;
}

.tab {
  text-decoration: none;
}

.tab-text {
  font-size: 1rem;
  font-weight: bold;
  color: #4c7b9a;
}

.tab.active .tab-text {
  color: #0d161b;
  border-bottom: 3px solid #209cee;
}

.properties-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}


.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.delete-modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
}

.delete-modal-content p {
  margin-bottom: 20px;
}

.delete-modal-content button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-modal-content button.confirm {
  background-color: red;
  color: rgb(255, 0, 0);
}

.delete-modal-content button.cancel {
  background-color: #4c7b9a;
  color: white;
}
