/* src/components/Navbar.css */
.unstyled-link{
  all: unset;
  cursor: pointer; /* Si deseas mantener el cursor de pointer para indicar que es un enlace */
  display: block;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 24px;
  margin-right: 10px;
}

.navbar-logo span {
  font-family: monospace;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.btn-login,
.btn-register,
.btn-logout,
.btn-host-panel {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-login {
  background-color: #007bff;
  color: #fff;
}

.btn-register {
  background-color: #f0f0f0;
  color: #000;
}

.btn-logout {
  background-color: #ff4d4d;
  color: #fff;
}

.btn-host-panel {
  background-color: #28a745;
  color: #fff;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic-navbar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
