.property-details-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: monospace;
}

.property-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.property-details-container h2 {
  font-size: 2.5rem;
}

.reserve-button {
  background-color: #209cee;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.reserve-button:hover {
  background-color: #0056b3;
}

.property-details-image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.property-details-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.property-details-price {
  font-size: 18px;
  margin-bottom: 20px;
}

.property-services,
.property-details-amenities {
  margin-bottom: 20px;
}

.property-services ul,
.property-amenities ul {
  list-style-type: none;
  padding: 0;
}

.property-services li,
.property-amenities li {
  margin-bottom: 10px;
}
