.public-card {
  font-family: monospace;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.public-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
  
}

.public-details {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 0.5rem;
}

.public-details p {
  padding: 0;
  margin: 0;
}

.public-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.public-price {
  font-size: 14px;
}

.public-actions{
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  padding-top: 10px;
  padding-right: 10px;
}

.public-image:hover .public-actions {
  display: block; 
  
}


.public-action-button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  padding-top: 5px;
}